<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/configs/create">Добавить новый конфигурационный файл</a>
    <h3>Список существующих конфигурационных файлов</h3>
    <div class="confList" th:if="${list != null}" th:each="file: ${list}">
        <a th:href="@{'/configs/read/' + ${file}}"><p th:text="${file}"></p></a>
        <a th:href="@{'/configs/delete/' + ${file}}"><button>Удалить</button></a>
    </div>
</body>
</html>