<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <form method="post">
            <label for="configName">Укажите имя нового конфигурационного файла</label><br>
            <input name="configName" id="configName" type="text" placeholder="test"><br>
            <input type="submit" value="Добавить">
        </form>
    </div>
</body>
</html>